<ul class="social" aria-label="Links">
  <li><a href="mailto:{{ site.author.email }}" aria-label="Email" title="Email">{% include icon.html name="mail" %}</a></li>
  <li><a href="{{ site.social.scholar }}" aria-label="Google Scholar" title="Google Scholar">{% include icon.html name="scholar" %}</a></li>
  <li><a href="{{ site.social.github }}" aria-label="GitHub" title="GitHub">{% include icon.html name="github" %}</a></li>
  <li><a href="{{ site.social.linkedin }}" aria-label="LinkedIn" title="LinkedIn">{% include icon.html name="linkedin" %}</a></li>
</ul>
